
<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.2.4, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.2.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/icons8-tree-48-50x50.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>contact</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
    <section class="menu menu2 cid-ssgK5L3F0h" once="menu" id="menu2-10">
    
        <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        
            <div class="container-fluid">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="/">
                            <img src="assets/images/icons8-tree-48-50x50.png" alt="Mobirise" style="height: 1.2rem; margin-top: -4px;">
                        </a>
                    </span>
                    <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7" href="/">BRINKER FINANCE</a></span>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                        <li class="nav-item"><a class="nav-link link text-black display-4" href="/about">
                                About</a></li>
                                <li class="nav-item"><a class="nav-link link text-black display-4" href="/contact" aria-expanded="true">Contact</a></li>
                                <li class="nav-item"><a class="nav-link link text-black display-4" href="/services" aria-expanded="true">Services</a></li>
                                <li class="nav-item"><a class="nav-link link text-black display-4" href="/faq" aria-expanded="true">FAQ</a></li>
                        <li class="nav-item dropdown"><a class="nav-link link text-black dropdown-toggle display-4" href="#" data-toggle="dropdown-submenu" aria-expanded="false">What we do</a><div class="dropdown-menu"><a class="text-black dropdown-item display-4" href="/investment-philosophy">Investment philosophy</a><a class="text-black dropdown-item display-4" href="/investment-process" aria-expanded="true">Investment Process</a></div></li>
                        <li class="nav-item"><a class="nav-link link text-black display-4" href="/plans" aria-expanded="true">Investment Plans</a></li>
                    </ul>
                    
                    <div class="navbar-buttons mbr-section-btn"> <a class="btn btn-primary display-4" href="/users/login">Log in</a><a class="btn btn-primary display-4" href="/users/register"> register</a></div>
                </div>
            </div>
        </nav>
    </section>
    <section class="header13 cid-ssbPrGQSlR" id="header13-p" style="background-image: url('../../../assets/images/ai.jpg')">

    

        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>
    
        <div class="align-center container" style="color: black;">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong> SERVICES </strong></h1>
                    
                </div>
            </div>
        </div>
    </section>
    <section class="features15 cid-soMy0alFMV" id="features16-8">

    

    
        <div class="container">
            <div class="content-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-lg">
                        <div class="text-wrapper">
                            <h6 class="card-title mbr-fonts-style display-2">
                                <strong>Financial Services</strong>
                            </h6>
                            <p class="mbr-text mbr-fonts-style mb-4 display-4">
                                Highly qualified and experienced staff give independent advice on such financial services as pensions, inheritance tax, life assurance and protection, health insurance, employee benefits, investments, business protection and wealth planning. We help companies pivot into more profitable directions where they can expand and grow. It is inevitable that individuals and companies will end up making a few mistakes; we help them correct these mistakess.</p>
                            <div class="mbr-section-btn mt-3">
                                <a class="btn btn-primary display-4" href="/users/login/">Get started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="image-wrapper">
                            <img src="assets/images/in.jpg" alt="Mobirise">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="features16 cid-soMy0IaqHw" id="features17-9">
        
    
        
        <div class="container">
            <div class="content-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6">
                        <div class="image-wrapper">
                            <img src="assets/images/sq2.jpg" alt="Mobirise">
                        </div>
                    </div>
                    <div class="col-12 col-lg">
                        <div class="text-wrapper">
                            <h6 class="card-title mbr-fonts-style display-5">
                                <strong>Consulting Services </strong>
                            </h6>
                            <p class="mbr-text mbr-fonts-style mb-4 display-4">
                                Our management consulting services focus on our clients’ most critical issues and opportunities: strategy, marketing, organization, operations, technology, transformation, digital, advanced analytics, corporate finance, mergers & acquisitions and sustainability across all industries and geographies.</p>
                            <div class="mbr-section-btn mt-3">
                                <a class="btn btn-primary display-4" href="/users/login">
                                    Get started
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features15 cid-soMy0alFMV" id="features16-8">

    

    
        <div class="container">
            <div class="content-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-lg">
                        <div class="text-wrapper">
                            <h6 class="card-title mbr-fonts-style display-2">
                                <strong>Mutual Funds and Initial Public Offerings (IPOs)</strong>
                            </h6>
                            <p class="mbr-text mbr-fonts-style mb-4 display-4">
                                Mutual Funds and Initial Public Offerings (IPOs)offer an opportunity to invest in a diversified, professionally managed basket of securities at a relatively low cost. They are an excellent option for clients who are looking for a diversified investment portfolio offering liquidity and transparency.</p>
                            <div class="mbr-section-btn mt-3">
                                <a class="btn btn-primary display-4" href="/users/login/">Get started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="image-wrapper">
                            <img src="assets/images/ipo.jpg" alt="Mobirise">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features16 cid-soMy0IaqHw" id="features17-9">
        
    
        
        <div class="container">
            <div class="content-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6">
                        <div class="image-wrapper">
                            <img src="assets/images/agree.jpg" alt="Mobirise">
                        </div>
                    </div>
                    <div class="col-12 col-lg">
                        <div class="text-wrapper">
                            <h6 class="card-title mbr-fonts-style display-5">
                                <strong>Portfolio Management Services </strong>
                            </h6>
                            <p class="mbr-text mbr-fonts-style mb-4 display-4">
                                Portfolio Management Services (PMS) is an investment portfolio in stocks, fixed income, debt, cash, structured products and other individual securities, managed by a professional money manager that can potentially be tailored to meet specific investment objectives.</p>
                            <div class="mbr-section-btn mt-3">
                                <a class="btn btn-primary display-4" href="/users/login">
                                    Get started
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer1 cid-soMxP49E8w" once="footers" id="footer1-7">

    
    
        <div class="container">
            <div class="row mbr-white">
                <div class="col-12 col-md-6 col-lg-3">
                    <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                        <strong>contact</strong>
                    </h5>
                    <ul class="list mbr-fonts-style display-4">
                        <li class="mbr-text item-wrap">info@brinkerfinance.com</li>
                        <li class="mbr-text item-wrap">   +1 (310) 742-9972</li>
                        <li class="mbr-text item-wrap"> +44 786 8715446</li>
                        <li class="mbr-text item-wrap">  +44 7862 072778</li>
                        <li class="mbr-text item-wrap">illinois, USA</li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                        <strong>Legal</strong>
                    </h5>
                    <ul class="list mbr-fonts-style display-4">
                        <a href="/privacy-policy" class="mbr-text item-wrap"> <span style="color: #284e30;">&gt;</span> Privacy policy</a><br>
                        <a href="/term-and-condition" class="mbr-text item-wrap"> <span style="color: #284e30;">&gt;</span>  Terms and condition</a><br>
                        <a href="refund-policy" class="mbr-text item-wrap"><span style="color: #284e30;">&gt;</span>  Refund policy</a><br>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                        <strong>Qiuck Links</strong>
                    </h5>
                    <ul class="list mbr-fonts-style display-4">
                        <a href="/" class="mbr-text item-wrap"><span style="color: #284e30;">&gt;</span>  Home </a> <br>
                        <a href="/contact" class="mbr-text item-wrap"><span style="color: #284e30;">&gt;</span>  Contact</a><br>
                        <a href="/about" class="mbr-text item-wrap"><span style="color: #284e30;">&gt;</span> About</a><br>
                        <a href="/plans" class="mbr-text item-wrap"><span style="color: #284e30;">&gt; </span>  Investment plans</a>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                        <strong>About</strong>
                    </h5>
                    <p class="mbr-text mbr-fonts-style mb-4 display-4">
                        Brinkerfinanceis a privately-held investment management firm empowering financial advisors to help their clients achieve better outcomes. </p>
    
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                                                        
                            Copyright © Brinker Finance 2020 All Right Reserved.
                        </p>  
                    <!--                                                             
                    </h5> -->
                    <!-- <div class="social-row display-7">
                        <div class="soc-item">
                            <a href="https://twitter.com/mobirise" target="_blank">
                                <span class="mbr-iconfont socicon socicon-facebook"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://twitter.com/mobirise" target="_blank">
                                <span class="mbr-iconfont socicon socicon-twitter"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://twitter.com/mobirise" target="_blank">
                                <span class="mbr-iconfont socicon socicon-instagram"></span>
                            </a>
                        </div>
                        
                    </div> -->
                </div>
                
            </div>
        </div>
    </section>

<script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/dropdown/js/nav-dropdown.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="//code.tidio.co/dgbobnxg6fwwrimjug4hkjpeviujjrim.js" async></script>
  
  
</body>
</html>