<!DOCTYPE html>
<html  >
<head>
 
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.2.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/icons8-tree-48-48x48.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>brinker finance</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>

   
    <section class="menu menu2 cid-ssgK5L3F0h" once="menu" id="menu2-10">
    
        <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
            <div style="padding: 0; margin-left: -2px; width: 100vw; border: transparent;" >
                <script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
                <coingecko-coin-price-marquee-widget  coin-ids="bitcoin,eos,ethereum,litecoin,ripple,3x-long-huobi-token-token,tron,usd-coin,cardano,binancecoin" currency="usd" background-color="#ffffff" locale="en" font-color="#0a3314"></coingecko-coin-price-marquee-widget>
            </div>
            <div class="container-fluid">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="/">
                            <img src="assets/images/icons8-tree-48-50x50.png" alt="Mobirise" style="margin-right: -8px;">
                        </a>
                    </span>
                    <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7" href="/">BRINKER FINANCE</a></span>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                        <li class="nav-item"><a class="nav-link link text-black display-4" href="/about">
                                About</a></li>
                                <li class="nav-item"><a class="nav-link link text-black display-4" href="/contact" aria-expanded="true">Contact</a></li>
                                <li class="nav-item"><a class="nav-link link text-black display-4" href="/services" aria-expanded="true">Services</a></li>
                                <li class="nav-item"><a class="nav-link link text-black display-4" href="/faq" aria-expanded="true">FAQ</a></li>
                        <li class="nav-item dropdown"><a class="nav-link link text-black dropdown-toggle display-4" href="#" data-toggle="dropdown-submenu" aria-expanded="false">What we do</a><div class="dropdown-menu"><a class="text-black dropdown-item display-4" href="/investment-philosophy">Investment philosophy</a><a class="text-black dropdown-item display-4" href="/investment-process" aria-expanded="true">Investment Process</a></div></li>
                        <li class="nav-item"><a class="nav-link link text-black display-4" href="/plans" aria-expanded="true">Investment Plans</a></li>
                    </ul>
                    
                    <div class="navbar-buttons mbr-section-btn"> <a class="btn btn-primary display-4" href="/users/login">Log in</a><a class="btn btn-primary display-4" href="/users/register"> register</a></div>
                </div>
            </div>
        </nav>
    </section>

<section class="header6 cid-soIrMtDuJU mbr-fullscreen" id="header6-1" style="margin-bottom: 0px;">

    

    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(68, 121, 217);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>Brinker finance</strong></h1>
                
                <p class="mbr-text mbr-white mbr-fonts-style display-7">
                    Brinker finance is a privately-held investment management firm empowering financial advisors to help their clients achieve better outcomes. From wealth accumulation to risk-based and income-oriented strategies, we offer a range of dynamic, multi-asset class solutions to help financial advisors meet the changing needs of investors.
                </p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="/users/login">Learn more</a></div>
            </div>
        </div>
    </div>
</section>

<section class="features4 cid-soVLV88Sx1" id="features4-k">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>The Brinker finance strategy.</strong></h4><br><br><br>
            
        </div>
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/we.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Who we are
                        </strong></h5>
                        <!-- <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"></h6> -->
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Brinker finance is an investment management organization focusing on the evolving needs of investors. We are privately owned, giving us the flexibility and freedom to make business changes, improve our enterprise and strive to act in the best interest of the investors we serve.</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/about" class="btn item-btn btn-black display-7" target="_blank">More on Who we are
                            &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/what.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>What we do</strong></h5>
                        <!-- <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
                            HTML/CSS Coding</h6> -->
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Investors think in terms of personal goals unique to each of them. We believe investing is personal and should be focused on achieving goals and objectives, not beating benchmarks and indices. We offer a range of investment solutions and a depth of investment experience and service across all aspects of our organization.</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/about" class="btn item-btn btn-black display-7" target="_blank">More on what we do
                            &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/how.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>How we do it</strong></h5>
                        <!-- <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">Creating Your Brand</h6> -->
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">We utilize a multi-asset class investment approach to help build and protect wealth. This diversification gives investors the potential to achieve their long-term goals while controlling risk.<br></p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/users/register" class="btn item-btn btn-black display-7" target="_blank">Join now
                            &gt;</a></div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="features16 cid-soMy0IaqHw" id="features17-9" >
<div class="container">
    <div class="mbr-section-head">
        <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>BRINKER'S APPROACH AND BRILLIANCE</strong></h4>
       
    </div><br>
    <div class="row align-items-center">
        <div class="col-12 col-lg-6 video-block">
        
            <div class="video-wrapper">    <iframe width="605" height="353" src="https://www.youtube.com/embed/W8OuoSY4pms" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </div>
        <div class="col-12 col-lg">
            <div class="text-wrapper">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-3 display-5">
                    <strong>More about Brinker Finance</strong>
                </h5>
                <p class="mbr-text mbr-fonts-style display-7">
                    Brinker Finance is one of the world’s leading private multi-asset alternative investment firms with approximately $113 billion of assets under management that creates lasting impact for our investors, teams, businesses, and the communities in which we live. Since our founding in 1984, we’ve applied our insight and experience to organically expand into several asset classes including private equity, credit, public equity, venture capital and real estate. We leverage our shared platform to capture cross-asset class opportunities in strategic areas of focus. With offices on four continents, our global team aligns our interests with those of our investors for lasting impact.</p>
            </div>
        </div>
    </div>
</div>
</section>

<section class="features5 cid-soMxrHVMZO" id="features6-3">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg-6">
                <div class="card-wrapper mbr-flex">
                    <div class="card-box align-left">
                        
                        <h5 class="card-title mbr-fonts-style align-left mb-3 display-5">
                            <strong>Client services</strong>
                        </h5>
                        <p class="mbr-text mbr-fonts-style mb-1 display-4">
                            Questions regarding existing account:</p>
                            <br>
                        <p class="mbr-text mbr-fonts-style mb-3 display-4">
                             admin@brinkerfinance.com</p>
                        <div class="mbr-section-btn">
                            <a href="mailto:admin@brinkerfinance.com" class="btn btn-primary display-4">Learn more</a>
                        </div>
                    </div>
                    <div class="img-wrapper img align-center">
                        <img src="assets/images/venture-business.jpg" alt="" title="">
                    </div>
                </div>
            </div>

            <div class="card col-12 col-lg-6">
                <div class="card-wrapper mbr-flex">
                    <div class="card-box align-left">
                        
                        <h5 class="card-title mbr-fonts-styzle align-left mb-3 display-5">
                            <strong>Sales and investments</strong>
                        </h5>
                        <p class="mbr-text mbr-fonts-style mb-1 display-4">
                            Training, support and service for financial advisors:</p>
                            <br><br>
                            <p class="mbr-text mbr-fonts-style mb-3 display-4">
                                contact@brinkerfinance.com</p>
                        <div class="mbr-section-btn">
                            <a href="mailto:contact@brinkerfinance.com" class="btn btn-primary display-4">Learn more</a>
                        </div>
                    </div>
                    <div class="img-wrapper img align-center">
                        <img src="assets/images/ba-ps-thumb.jpg" alt="" title="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content2 cid-soTkPYjeKT" id="content2-e">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Our Blog</strong></h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">Read the recent blog posts about brinker and cryptocurrencies</h5>
        </div>
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/coinbase.jpeg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><a href="https://money.usnews.com/investing/stock-market-news/articles/2021-03-17/plug-stock-scandal-coinbases-68-billion-valuation" class="text-primary">Plug Stock Slips</a></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
                            <strong>Johnathan fischer</strong><em> March 17, 2021</em></h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Federal Reserve, stocks erased early morning losses and finished higher on Wednesday, with all three major U.S. indices closing in the green.</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="https://money.usnews.com/investing/stock-market-news/articles/2021-03-17/plug-stock-scandal-coinbases-68-billion-valuation" class="btn item-btn btn-primary display-7" target="_blank">Read More
                            &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/peloton.jpeg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><a href="https://money.usnews.com/investing/stock-market-news/articles/2021-03-18/peloton-stock-tumbles-williams-sonoma-shares-rise" class="text-primary">Peloton Stock Tumbles</a></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong> Susannah Snider, Senior Editor, , Financial Advisors</strong><em>&nbsp; March 18, 2021,</em></h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">MARKETS FELL THURSDAY, with the three major U.S. indices posting losses. The sell-off was led by the tech-heavy Nasdaq, which ended the day down 3%..<br>
                        </p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="https://money.usnews.com/investing/stock-market-news/articles/2021-03-18/peloton-stock-tumbles-williams-sonoma-shares-rise" class="btn btn-primary item-btn display-7" target="_blank">Read More
                            &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/spac.jpeg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><a href="https://money.usnews.com/investing/investing-101/slideshows/what-is-a-spac-best-spacs-to-buy" class="text-primary">What Is a SPAC?</a></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Jessica Anvil
                            </strong><em> March 18, 2021</em></h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">M6 SPAC stocks investors need to know</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="https://money.usnews.com/investing/investing-101/slideshows/what-is-a-spac-best-spacs-to-buy" class="btn btn-primary item-btn display-7" target="_blank">Read More
                            &gt;</a></div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="footer1 cid-soMxP49E8w" once="footers" id="footer1-7">

    
    
    <div class="container">
        <div class="row mbr-white">
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>contact</strong>
                </h5>
                <ul class="list mbr-fonts-style display-4">
                    <li class="mbr-text item-wrap">info@brinkerfinance.com</li>
                    <li class="mbr-text item-wrap">   +1 (310) 742-9972</li>
                    <li class="mbr-text item-wrap"> +44 786 8715446</li>
                    <li class="mbr-text item-wrap">  +44 7862 072778</li>
                    <li class="mbr-text item-wrap">Illinois, USA</li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>Legal</strong>
                </h5>
                <ul class="list mbr-fonts-style display-4">
                    <a href="/privacy-policy" class="mbr-text item-wrap"> <span style="color: #284e30;">&gt;</span> Privacy policy</a><br>
                    <a href="/term-and-condition" class="mbr-text item-wrap"> <span style="color: #284e30;">&gt;</span>  Terms and condition</a><br>
                    <a href="refund-policy" class="mbr-text item-wrap"><span style="color: #284e30;">&gt;</span>  Refund policy</a><br>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>Qiuck Links</strong>
                </h5>
                <ul class="list mbr-fonts-style display-4">
                    <a href="/" class="mbr-text item-wrap"><span style="color: #284e30;">&gt;</span>  Home </a> <br>
                    <a href="/contact" class="mbr-text item-wrap"><span style="color: #284e30;">&gt;</span>  Contact</a><br>
                    <a href="/about" class="mbr-text item-wrap"><span style="color: #284e30;">&gt;</span> About</a><br>
                    <a href="/plans" class="mbr-text item-wrap"><span style="color: #284e30;">&gt; </span>  Investment plans</a>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>About</strong>
                </h5>
                <p class="mbr-text mbr-fonts-style mb-4 display-4">
                    Brinkerfinance is a privately-held investment management firm empowering financial advisors to help their clients achieve better outcomes. </p>

                    <p class="mbr-text mbr-fonts-style mb-4 display-4">
                                                    
                        Copyright © Brinker Finance 2020 All Right Reserved.
                    </p>  
                <!--                                                             
                </h5> -->
                <!-- <div class="social-row display-7">
                    <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="mbr-iconfont socicon socicon-facebook"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="mbr-iconfont socicon socicon-twitter"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="mbr-iconfont socicon socicon-instagram"></span>
                        </a>
                    </div>
                    
                </div> -->
            </div>
            
        </div>
    </div>
</section>


<script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/dropdown/js/nav-dropdown.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/theme/js/script.js"></script>
  
<script src="//code.tidio.co/dgbobnxg6fwwrimjug4hkjpeviujjrim.js" async></script>

</body>
</html>